@for $i from 28 through 31 {
  @for $j from 1 through $i {
    .calendar-#{$i} div:nth-child(#{$j}) {
      @include day;
      &::before {
        content: "#{$j}";
        display: flex;
        justify-self: center;
      }
      &:hover {
        @include hover;
      }
    }
  }
}

@each $day, $mul in (mon: 0, tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun: 6) {
  .calendar-#{$day} div:first-child {
    margin-left: ($size + 1) * $mul;
  }
}
