@mixin calendar {
  width: 806px;
  padding-top: 100px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

@mixin day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  background-color: #eeee;
  border: 1px solid black;
  transition: transform 0.5s, background-color 0.5s;
  cursor: pointer;
}

@mixin body-default {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

@mixin hover {
  background-color: pink;
  transform: translate(0, -20px);
  transition: transform 0.5s, background-color 0.5s;
}
